.metricas {
    display: flex;
    padding: 0 2em 2em 2em;
}

.metricas__item {
    padding: 0 2em;
}

.metricas__item__titulo {
    color: var(--vermelho);
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 15px;
}

.metricas__item__subtitulo {
    color: var(--cinza-escuro);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.metricas__item__descricao {
    color: var(--cinza);
    font-weight: 400;
}




