.vagas {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 4em 0;
}

.vagas-abertas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vagas__subtitulo {
    color: var(--vermelho);
    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    font-size: 14px;
    font-weight: 500;
    padding: 0.7em;
}

.vagas__titulo {
    color: var(--cinza-escuro);
    font-size: 36px;
    font-weight: 600;
    padding: 0.5em 0;
}

.vagas__descricao {
    color: var(--cinza);
    font-size: 20px;
    font-weight: 400;
}

.vagas__imagem {
    padding: 3em 0;
}

.vagas-disponiveis {
    display: flex;
    flex-direction: column;
    margin: 0 25em;
}

.vagas-disponiveis__titulo {
    color: var(--cinza-escuro);
    font-size: 20px;
    font-weight: 500;
    margin-top: 1em;
}

.lista-vagas__item {
    border: 1px solid #EAECF0;
    border-radius: 16px;
    box-sizing:border-box;
    padding: 1.5em;
    margin: 1.5em 0;
}

.lista-vagas__item__titulo {
    color: var(--cinza-escuro);
    margin-bottom: 1.5em;
    font-size: 18px;
    font-weight: 500;
}

.lista-vagas__item__detalhes {
    display: flex;
    color: var(--cinza);
    gap: 25px;
    font-weight: 500;
}





